<div class="heading">
  <h2>Edit <%= bike_info(@bike) %>'s components</h2>
</div>

<div class="heading">
  <h3>Components list</h3>
</div>

<%= render "components" %>

<div class="heading">
  <h3>New component</h3>
</div>

<%= render "form" %>
