<div class="heading">
  <h2>Edit <%= bike_info(@bike) %>'s maintenance records</h2>
</div>

<div class="heading">
  <h3>Maintenance records</h3>
</div>

<%= render "records" %>

<div class="heading">
  <h3>New maintenance record</h3>
</div>

<div class="micropost">
  <%= render "form" %>
</div>
