<div class="section">
  <h3>Basic information</h3>
  <table class="bike-info">
    <tr>
      <td class="item">Manufacturer</td>
      <td class="separate">:</td>
      <td class="data"><%= @bike.manufacturer%></td>
    </tr>
    <tr>
      <td class="item">Model name</td>
      <td class="separate">:</td>
      <td class="data"><%= @bike.model_name%></td>
    </tr>
    <tr>
      <td class="item">Frame number</td>
      <td class="separate">:</td>
      <td class="data"><%= @bike.frame_number%></td>
    </tr>
  </table>
</div>
